mixin icon(name, mod)
  - mod = mod || ''
  if mod
    svg(class=`icon icon-${name} ${mod}`)
      use(xlink:href=`img/sprite.svg#${name}`)
  else
    svg(class=`icon icon-${name}`)
      use(xlink:href=`img/sprite.svg#${name}`)

//--------------------

mixin randomNum(numMax = 100)
  =(Math.random() * numMax + 1 | 0)

//--------------------

mixin link(name, href='javascript:void(0)')
  a(href=href)&attributes(attributes)= name
    if block
      block
    else

//- EXAMPLE
//- +link(name?, href?)(class="promo-index__link js-hover-btn hover-btn-animation")
//--------------------
